@media (orientation: portrait) {
  .title {
    font-size: 2.5vh;
  }

  .current-date-time  {
    font-size: 1.3vh;
  }
}

@media (orientation: landscape) {
  .title {
    font-size: 2.5vw;
  }

  .current-date-time  {
    font-size: 1.3vw;
  }
}

.title {
  font-weight: bold;
  color: #1F3E95;
}

.current-date-time {
  color: black;
  font-weight: bold;
}